.team-name-table {
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.team-name-small {
    color: #2f3640;
    font-size: 20px;
    font-weight: bold;;
}

.header {
    text-align: center;
    vertical-align: middle;
}

.header>div {
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    background-color: #2f3640;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.team-name {
    color: #2f3640;
    font-size: 30px;
    font-weight: bold;
}

.left {
    margin-right: 2%
}

.right {
    margin-left: 2%;
}

.score {
    font-size: 65px;
    font-weight: bolder;
    margin-left: 2%;
    margin-right: 2%;
}

.green {
    color:  #10ac84;
}

.green-background {
    background-color:  #10ac84;
}

.red {
    color: #eb2f06;
}

.red-background {
    background-color: #eb2f06;
}

.blue {
    color: #0c2461
}

.blue-background {
    background-color: #0c2461;
    color: white;
}

.orange {
    color: #e58e26;
}

.orange-background {
    background-color: #e58e26;
    color: white;
}

.map-name {
    color: #2f3640;
    font-size: 20px;
    font-weight: bold;
}

abbr {
    text-decoration: none;
    text-transform: none;
    cursor: help;
}

.rating {
    text-align: center;
    margin: 0 auto;
    width: 40px;
    border-radius: 4px;
}