body {
	font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    text-align: center;
	font-size: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}

table {
	width: 80%;
  	border-collapse: collapse;
}

.table-row:nth-child(even) {
	background-color: #dfe6e9;
}

.table-row:nth-child(odd) {
	background-color: #b2bec3;
}

#kd-chart-container {
	width: 50%;
	height: 50%;
}

.box {
	width: 15%;
	background-color: #b2bec3;
	margin: 5px;
	padding: 5px;
}